
h1 {
    margin-left: 2.5%;
    color: red;
}
hr {
    margin-left: 2.5%;
}
.rutas {
    width: 100vw;
}

.contacto {
    width: 100%;
    margin-left: 5%;
    margin-top: 2%;
}

.contacto  p {
    margin-left: 4px;
}
i {
    margin-right: 3%;
}
#ilocaticon{ 
    color: #1982c4;
    font-size: 1.5em;
}
#email {
    color: rgb(230, 39, 39);
    font-size: 1.5em;
}
#faceb{
    color: #0450b4;
    font-size: 1.5em;
}
#inst {
    color: #d94a8c;
    font-size: 1.5em;
}
#pint {
    color: red;
    font-size: 1.5em;
}
#whats {
    color: #8ac926;
    font-size: 1.5em;
}
.contacto .mapa {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.contacto .mapa img {
    margin-bottom: 5px;
}
.contacto .mapa a {
    border-radius: 8px;
    background-color: #212529;
    color: rgb(219, 210, 210);
    cursor: pointer;    
    text-decoration: none;
    width: fit-content;
}
.contacto .socialMedia {
    /* position: absolute;
    left: 10vh;
    bottom: 10vh; */
    padding-top: 15px;
}
.contacto .socialMedia p {
    padding-bottom: 3px;
    margin: 0;
}
.contacto .socialMedia ul {
    padding: 0;
    display: flex;
    list-style: none;
}
.contacto .socialMedia ul li {
    margin-right: 20px;
}
.contacto .socialMedia ul li a {
    text-decoration: none;
}
@media (max-width:1500px){
    .contacto p {
        font-size: 23px;
    }
}
@media (max-width:768px){
    .contacto p {
        font-size: 20px;
    }
}
@media (max-width:480px){
    .contacto p {
        font-size: 15px;
        justify-content: center;
    }
   .contacto .mapa img {
       width: 40vw;
   }
}