/*     
phone device: 320px — 480px;
tablet: 481px — 768px;
laptop: 769px — 1024px;
desktop: 1025px — 1200px 
*/

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.logo .logofridarte { 
    margin-top: 6%;
    margin-bottom: 4%;
    width: 16vw;
}
.logo p {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: 'Glamour', sans-serif;
    font-weight: bold;
    font-size: 2.7rem;
    position: fixed;
    opacity: 0.8;
    text-align: center;
    justify-content: center;
}
.logo .parr1 {
    top: 45%;
}
.logo .parr2 {
    top: 49%;
    margin-left: 50px;
}
.portrait {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.portrait .photo {
    
    padding-top: 1%;
    align-self: flex-end;
    /* width: 100vw; */
}
.portrait .photo .homePhoto{
    border-radius: 18px;
    /* margin-left: 1.5rem;
    margin-right: 1.5rem; */
    
}
@media (max-width:1500px) {
    .portrait {
        max-height: 15vh;
        width: 100vw;
    }
    .portrait .photo {
        margin: 1%;
    }
    .portrait .photo .homePhoto {
        margin: 3%;
        width: 22vw;
    }
   
}
@media (max-width:790px) {
    .logo .logofridarte {
        margin-bottom: 5%;
        max-height: 15vh;
        width: 20vw;
    }
    .portrait {
        width: 100vw;
    }
    .portrait .photo {
        margin: 1%;
    }
    .portrait .photo .homePhoto {
        /* display: flex; */
        margin: 1%;
        width: 48vw;
        /* min-height: 20vh; */
    }
}


@media (max-width:480px){
    .logo .logofridarte {
        width: 19vw;
    }
    .portrait {
        width: 100vw;
    }
    .portrait .photo {
        margin: 1%;
    }
    .portrait .photo .homePhoto {
        /* display: flex; */
        border-radius: 10px;
        /* margin-left: 1%; */
        
        width: 46vw;
        min-height: 20vh;
    }
}

