/*     
phone device: 320px — 480px;
tablet: 481px — 768px;
laptop: 769px — 1024px;
desktop: 1025px — 1200px 
*/
.logo {
    width: 100%;
}
.logo .logofridarte {
    
    margin: 1%;
    margin-left: 40%;
    padding: 2.5%;
    width: 20vw;
}
.portrait {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    /* width: 25vw; */
}
.portrait .photo {
    
    padding-top: 2%;
    align-self: flex-end;
    /* width: 100vw; */
}
.portrait .photo .homePhoto{
    border-radius: 18px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
@media (max-width:480px){
    .logo .logofridarte {
        width: 30vw;
    }
    .portrait {
        flex-direction: column;
    }
    /* .portrait .photo {
        padding: 2% 0% 2% 0%;
        max-width: 100%;
    } */
    .portrait .photo .homePhoto {
        border-radius: 10px;
        margin-left: 0.15rem;
        margin-right: 0.15rem;
        width: 100vw;
        height: 60vh;
    }
}
/* @media (max-width:768px) {
    .portrait {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap
    }
    .portrait .photo {
        padding: 2% 7% 1% 7%;
        max-width: 35%;
    }
    .portrait .photo .homePhoto {
        margin: 4% 8% 2% 8%;
        max-width: 220px;
    }
} */
/*
@media (max-width:1500px) {
    .portrait {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .portrait .photo {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 2% 5% 1% 1.5%;
        max-width: 20%;
    }
    .portrait .photo .homePhoto {
        margin: 3%;
        max-width: 570px;
    }
} */


