/*     
phone device: 320px — 480px;
tablet: 481px — 768px;
laptop: 769px — 1024px;
desktop: 1025px — 1200px 
*/
@media (min-width:481px) {

    .normalNav {
        position: fixed;
        right: 3%;
        top: 0;
        display: inline;
    }
    .normalNav ul {
        background-color: black;
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .normalNav ul li {
        margin: 0%, 3%, 0%, 0%;
        padding: 0;
    }
    .normalNav ul li a:hover {
        border-radius: 5px;
        background-color: red;
        color: white;
    }
    
    .normalNav ul {
        margin: 0px;
        padding: 0px;
    }
    .normalNav ul li{
        display: inline-block;
        margin: 1vw;
    }
    .normalNav ul li a{
        text-decoration: none;
        color: white;
    }
    .normalNav ul li a:hover{
        color: white;
    }
    .icon, .three-icons, .nav {
        display: none;
    }
}


@media (max-width: 480px) {
    .normalNav {
        display: none;
    }
    .three-icons {
        display: flex;
        padding-top: 2%;
        position: fixed;
        right: 15vw;
        /* width: 100%; */
    }
    .three-icons ul {
        margin: 0;
        padding: 0;
        display: inline-flex;
        list-style: none;
    }
    .three-icons ul li {
        margin-right: 15%;
    }
    .three-icons ul li i {
        font-size: 1.5rem;
    }
    /* .mobileNav {
        display:flex;
        position: fixed;
        left: 100%;
        opacity: 0.85;
        transition: 0.5s;
        width: 80vw;
    } */
    .icon {
        padding-top: 1%;
        width: fit-content;
        
    }
    .icon i{
        font-size: 1.5rem;
        cursor: pointer;
        position: fixed;
        right: 0.5vw;
    }
    .nav {
        /* padding-top: 10%; */
        background-color: black;
        display:flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        left: 100%;
        opacity: 0.9;
        height: 100vh;
        width: 50vw;
        transition: 0.6s;
    }
    .nav.isactive{
        left: 0;
        position: fixed;
    }
    .nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    .nav ul li {
        font-size: 17px;
    }
    .nav ul li a {
        color: red;
        font-size: 1.2rem;
        opacity: 1;
        font-family: serif;
        text-decoration: none;
    }
    
}