/*     
phone device: 320px — 480px;
tablet: 481px — 768px;
laptop: 769px — 1024px;
desktop: 1025px — 1200px 
*/
.normalNav {
    position: fixed;
    right: 3%;
    top: 0;
    display: inline;
}
.normalNav ul {
    background-color: black;
    padding: 0;
    margin: 0;
    list-style: none;
}
.normalNav ul li {
    margin: 0%, 3%, 0%, 0%;
    padding: 0;
}
.normalNav ul li a:hover {
    border-radius: 5px;
    background-color: red;
    color: white;
}

ul {
    margin: 0px;
    padding: 0px;
}
ul li{
    display: inline-block;
    margin: 1vw;
}
ul li a{
    text-decoration: none;
    color: white;
}
ul li a:hover{
    color: red;
}

.mobileNav, .three-icons {
    display: none;
}

@media (max-width: 480px) {
    .normalNav {
        display: none;
    }
    .three-icons {
        display: flex;
        position: fixed;
        right: 15%;
    }
    .three-icons ul {
        display: flex;
        list-style: none;
    }
    .three-icons ul li {
        margin-right: 4%;
    }
    .mobileNav {
        display:flex;
        position: fixed;
        right: 0%;
        opacity: 0.85;
        width: 40vw;
    }
    .mobileNav .icon i {
        font-size: 6vw;
        cursor: pointer;
        position: fixed;
        right: 0;
    }
    .mobileNav .nav ul {
        display:flex;
        flex-direction: column;
        margin-top: 20%;
        margin-left: 2%;
        
    }
    .mobileNav .nav ul li {
        font-size: 17px;
    }
    .mobileNav .nav ul li a {
        color: red;
        font-family: serif;
    }
}